<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Iweb_Countdown::countdown" title="Iweb" sortOrder="50">
                    <resource id="Iweb_Countdown::countdown_configuration" title="Timer Configuration"/>
                </resource>
            </resource>
        </resources>
    </acl>
</config>