<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <iweb_countdown>
            <preorder_timer_configuration>
                <enable>1</enable>
            </preorder_timer_configuration>
        </iweb_countdown>
    </default>
</config>